extends ../layoutAdmins

block content
	.row.initial
		.col-xs-10.col-sm-10.col-centered
			include ../../snipets/errors
			h1.col-md-12 Editar Restaurant: #{restaurantes.nombre}
			form.form-horizontal(name="loginForm" method="post" action="" )

				.form-group
					label(for="nombre").control-label.col-md-3 Nombre del Local
					.col-md-8
						input.form-control(type="text" value="#{restaurantes.nombre}" name="nombre" id="nombre" placeholder="Nombre")
				
				.form-group
					label(for="direccion").control-label.col-md-3 Dirección
					.col-md-8
						input.form-control(type="text" value="#{restaurantes.direccion}"  name="direccion" id="direccion" placeholder="Dirección")
				
				.form-group
					label(for="comuna").control-label.col-md-3 Comuna
					.col-md-8
						select.form-control(name="comuna" id="comuna" placeholder="Comuna")
							each comuna in comunas
								option(value="#{comuna._id}") #{comuna.nombre}
				
				.form-group
					label(for="tipo").control-label.col-md-3 Tipo de Local
					.col-md-8
						input.form-control(type="text" value="#{restaurantes.tipo}"  name="tipo" id="tipo" placeholder="Tipo")
				
				.form-group
					label(for="web").control-label.col-md-3 Web
					.col-md-8
						input.form-control(type="url" value="#{restaurantes.web}"  name="web" id="web" placeholder="Web")
				
				.form-group
					label(for="email").control-label.col-md-3 Mail de Contacto
					.col-md-8
						input.form-control(type="email" value="#{restaurantes.email}"  name="email" id="email" placeholder="Mail")
				
				.form-group
					label(for="telefono").control-label.col-md-3 Teléfono
					.col-md-8
						input.form-control(type="tel" value="#{restaurantes.telefono}"  name="telefono" id="telefono" placeholder="Teléfono")
				
				.form-group
					.col-md-8
						button.btn.btn-default.pull-right(type="submit" value="Login") Editar  Restaurante